accelerate==0.25.0
aiofiles 
aiohappyeyeballs 
aiohttp 
aiosignal
altair==5.5.0
annotated-types 
anyio 
appdirs 
arrow 
attrs 
binaryornot 
blinker==1.9.0
blis==0.7.11
Brotli 
cachetools==6.1.0
catalogue 
certifi 
cffi 
chardet 
charset-normalizer 
click 
cloudpathlib 
cloudpickle 
colorama 
confection 
cookiecutter
cymem 
dataclasses 
datasets 
dill 
dnspython 
docker-pycreds==0.4.0
email_validator 
eval_type_backport
evaluate
exceptiongroup 
faiss-cpu==1.8.0.post1
fastapi 
fastapi-cli
ffmpy 
filelock 
frozenlist 
fsspec 
gitdb 
GitPython 
gmpy2 
gradio 
gradio_client 
groovy 
h11 
h2 
hf-xet 
hpack 
httpcore 
httptools 
httpx 
huggingface_hub==0.20.3
hyperframe 
idna 
Jinja2 
joblib 
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
langcodes 
language_data 
marisa-trie 
markdown-it-py 
MarkupSafe
mdurl
mpmath 
multidict 
multiprocess 
murmurhash
networkx 
numpy==1.26.4
optree
orjson
packaging==25.0
pandas
propcache 
protobuf 
psutil 
pyarrow==21.0.0
pybind11 
pybind11-global 
pycparser 
pydantic
pydantic_core 
pydeck==0.9.1
pydub
PyPDF2
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
referencing
regex
requests
responses
rpds-py
safetensors==0.4.5
scipy
sentence-transformers==2.2.2
spacy
streamlit
sympy
tenacity==9.1.2
threadpoolctl
tokenizers==0.15.2
tornado==6.5.2
transformers==4.36.2
tqdm
typing_extensions
typer==0.16.0
typer-slim==0.16.0
tzdata
urllib3
uvicorn
wandb
watchdog
xxhash
zstandard==0.23.0
