accelerate
aiofiles 
aiohappyeyeballs 
aiohttp 
aiosignal
altair==5.5.0
annotated-types 
anyio 
appdirs 
arrow 
attrs 
binaryornot 
blinker==1.9.0
blis==0.7.11
Brotli 
cachetools==6.1.0
catalogue 
certifi 
cffi 
chardet 
charset-normalizer 
click 
cloudpathlib 
cloudpickle 
colorama 
confection 
cookiecutter
cymem 
dataclasses 
datasets 
dill 
dnspython 
docker-pycreds==0.4.0
email_validator 
en_core_web_sm 
eval_type_backport
evaluate
exceptiongroup 
faiss-cpu==1.8.0.post1
fastapi 
fastapi-cli
ffmpy 
filelock 
frozenlist 
fsspec 
gitdb 
GitPython 
gmpy2 
gradio 
gradio_client 
groovy 
h11 
h2 
hf-xet 
hpack 
httpcore 
httptools 
httpx 
huggingface_hub 
hyperframe 
idna 
Jinja2 
joblib 
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
langcodes 
language_data 
marisa-trie 
markdown-it-py 
MarkupSafe
mdurl
mpmath 
multidict 
multiprocess 
murmurhash
networkx 
numpy==1.26.4
optree
orjson
packaging==25.0
pandas
propcache 
protobuf 
psutil 
pyarrow==21.0.0
pybind11 
pybind11-global 
pycparser 
pydantic
pydantic_core 
pydeck==0.9.1
pydub 
Pygments 
PyPDF2 
PySocks 
python-dateutil 
python-dotenv 
python-multipart 
python-slugify 
pytz 
PyYAML 
referencing==0.36.2
regex 
requests 
rich 
rich-toolkit 
rpds-py==0.27.0
ruff 
safehttpx 
safetensors 
scikit-learn 
scipy 
sentry-sdk 
setproctitle 
shellingham 
six 
smart_open 
smmap 
sniffio 
spacy==3.7.5
spacy-legacy  
spacy-loggers 
srsly 
starlette 
streamlit==1.48.1
sympy 
tenacity==9.1.2
text-unidecode 
thinc==8.2.5
threadpoolctl 
tokenizers 
toml==0.10.2
tomlkit 
torch==2.1.0+cpu
tornado==6.5.2
tqdm 
transformers 
typer==0.16.0
typer-slim==0.16.0
types-python-dateutil 
typing-inspection 
typing_extensions 
tzdata 
ujson 
urllib3 
uvicorn 
uvloop 
wandb==0.21.1
wasabi 
watchdog==6.0.0
watchfiles 
weasel 
websockets 
wrapt 
xxhash 
yarl 
zstandard==0.23.0
